body{
	background-color: pink;
	margin: 0;
	font-family: 'helvetica'; 'arial', sans-serif;
	font-size: 20px;
	line-height: 30px;


}

header{
	background-color: pink;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px
}

h1, h2{
	font-family: 'Pacifico', cursive;

}
header h1{
	color: crimson;
	font-size: 70px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: crimson;
	margin: 40px 0 10px;
}



a.blue{
	color: royalblue;
	text-decoration: none; 
}

a.blue:hover{
	color: white;
	background-color: royalblue;
	text-decoration: none; 
}

a.red{ 
	color: red;
	text-decoration: none; 
}

a.red:hover{
	color: white;
	background-color: red;
	text-decoration: none; 
}

a.green{ 
	color: green;
	text-decoration: none; 
}

a.green:hover{
	color: white;
	background-color: green;
	text-decoration: none; 
}

a.orange{ 
	color: darkorange;
	text-decoration: none; 
}

a.orange:hover{
	color: white;
	background-color: darkorange;
	text-decoration: none; 
}

footer{
	background-color: pink;
	text-align: center;
	color: white;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	color: crimson;
	text-decoration: none;
}

p.caption{
	color: ##2F4F4F;
	font-style: italic;
	margin-top: 0;
	font-size: 15px;
}




